{:kotoba.app/id "cloud.itonami.isic-1820", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicq34qwfwifagl5aj27vl5c4skfnowvhswtftxksvphtpuevm2amy", :kotoba.app/embed-url "ipfs://bafkreicq34qwfwifagl5aj27vl5c4skfnowvhswtftxksvphtpuevm2amy", :published {:archive "https://kotobase.net/ipfs/bafkreicq34qwfwifagl5aj27vl5c4skfnowvhswtftxksvphtpuevm2amy", :size 73047, :put-status 201, :get-status 200, :at "2026-08-15T13:53:59.649Z"}}
